<div class="layout-wrapper" [ngClass]="containerClass">
  <div class="layout-main-container">
    <app-header [hidden]="!showHeader"></app-header>
    <app-menu [hidden]="!showMenu"></app-menu>
    <div class="layout-main">
      <div class="flex flex-column md:px-8 px-2 h-auto">
        <!-- <p-breadcrumb
          styleClass="bg-transparent border-none p-0 my-4"
          [model]="items"
          [home]="home"
        ></p-breadcrumb> -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer [hidden]="!showFooter"></app-footer>
  </div>
</div>
