<form [formGroup]="featuresForm">
  <p-blockUI [blocked]="blockedDocument"></p-blockUI>
  <p-toast></p-toast>
  <div class="py-2">
    <div class="grid">
      <div class="col-12 md:col-12 lg:col-3">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="SKU"
            formControlName="sku"
            style="border-radius: 50px !important"
            onlyNumbers
            (blur)="obtenerDatosProducto()"
            (keyup.enter)="obtenerDatosProducto()"
          />
        </span>
        <span class="form-text text-red-600" *ngIf="campoNoValido('sku')">
          {{ listaErroresMensajes("sku") }}
        </span>
      </div>
      <div
        class="col-12 md:col-12 lg:col-6 flex justify-content-center md:justify-content-center lg:justify-content-start"
      >
        <p-button
          label="Buscar"
          styleClass="p-button-raised"
          (click)="obtenerDatosProducto()"
          [disabled]="!featuresForm.valid"
        ></p-button>
      </div>
      <div
        class="col-12 md:col-12 lg:col-3 flex justify-content-center md:justify-content-center lg:justify-content-end"
      >
        <p-button
          label="Enviar Solicitud"
          styleClass="p-button-raised"
        ></p-button>
      </div>
    </div>
    <div class="flex w-full py-2 px-3 gap-2">
      <label class="font-bold align-self-center">Atributos Básicos PIM</label>
      <p-checkbox
        [binary]="true"
        (onChange)="chkAtrrchanged($event, 0)"
      ></p-checkbox>
    </div>
    <div
      class="surface-card py-2 px-3 border-round shadow-2"
      [ngClass]="{ disabledDiv: isDisabledDivAtrr }"
    >
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-4">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Descripción: </label>
                  <!-- <label>Bicicleta De Montaña Sforzo R24 18V Talla S</label> -->
                  <label>{{
                    obj ? obj.listaEstadoProducto[0].prD_NAME_FULL : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="text" pInputText placeholder="Nueva Descripción" />
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Estado: </label>
                  <!-- <label>Producto Activo</label> -->
                  <label>{{
                    obj ? obj.listProductoModel[0].atR_CODE_DESC : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-dropdown
                placeholder="Nuevo Estado"
                [editable]="true"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Subinventario: </label>
                  <!-- <label>Marketplace SP</label> -->
                  <label>{{
                    obj ? obj.listProductoModel[1].atR_CODE_DESC : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-dropdown
                placeholder="Nuevo Sub Inventario"
                [editable]="true"
                class="w-full"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Reposición: </label>
                  <!-- <label>PULL</label> -->
                  <label>{{
                    obj ? obj.listProductoModel[4].atR_CODE_DESC : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-dropdown
                placeholder="Nueva Reposición"
                [editable]="true"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Marca: </label>
                  <!-- <label>Sforzo</label> -->
                  <label>{{
                    obj ? obj.listProductoModel[2].atR_CODE_DESC : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-dropdown
                placeholder="Nueva Marca"
                [editable]="true"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Origen: </label>
                  <!-- <label>Nal</label> -->
                  <label>{{
                    obj ? obj.listProductoModel[3].atR_CODE_DESC : ""
                  }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full py-2 px-3 gap-2 aling-content-center">
      <label class="font-bold align-self-center"
        >Costo Reposición Cadena Vigente - UE - Proveedor</label
      >
      <p-checkbox
        [binary]="true"
        (onChange)="chkAtrrchanged($event, 1)"
      ></p-checkbox>
    </div>
    <div
      class="surface-card py-2 px-3 border-round shadow-2 flex align-items-center justify-content-center align-content-center align-items-center"
      [ngClass]="{ disabledDiv: isDisabledDivCost }"
    >
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Costo Vigente: </label>
                  <!-- <label>$ 360.000</label> -->
                  <label>{{ obj ? costoVigente : "" }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="text" pInputText placeholder="Nuevo costo" />
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Fecha de inicio: </label>
                  <!-- <label>01/02/2023</label> -->
                  <label>{{ obj ? fechaInicial : "" }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-calendar [showIcon]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Fecha de fin: </label>
                  <!-- <label>01/01/2099</label> -->
                  <label>{{ obj ? fechaFinal : "" }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-calendar [showIcon]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Unidad Empaque: </label>
                  <!-- <label>1</label> -->
                  <label>{{
                    obj ? obj.listaRPPHeadCostoDtLogModel[0].unidadEmpaque : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="text" pInputText placeholder="Nueva UE" />
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <!-- <div class="grid" [ngClass]="{ pading: proveedor }">
            <div class="col-12" [ngClass]="{ pading: proveedor }">
              <div class="grid" [ngClass]="{ pading: proveedor }"> -->
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <!-- <div class="col-12" style="padding-bottom: 0; padding-top: 6px"> -->
                <!-- <div
                  class="col-12"
                  [ngClass]="{ pading: proveedor }"
                  style="padding-top: 6px"
                > -->
                <div class="col-12">
                  <label class="font-bold">Proveedor: </label>
                  <!-- <label>BICICLETAS ONLINE SAS</label> -->
                  <label>{{
                    obj
                      ? obj.listaRPPHeadCostoDtLogModel[0].nombreProveedor
                      : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input
                type="text"
                pInputText
                placeholder="Ingrese código de Proveedor"
              />
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Cod Barras: </label>
                  <label>{{
                    obj ? obj.listaPrecioModel[0].codigoBarras : ""
                  }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="text" pInputText placeholder="Ingrese cod barras" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full py-2 px-3 gap-2">
      <label class="font-bold align-self-center">Precios</label>
    </div>

    <div class="w-full surface-card py-2 px-3 border-round shadow-2">
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
          <!-- <label
            >Bloqueo por campaña: Temporada de Casa/ 01-03-2023 al
            31-03-2023</label
          > -->
          <label>Bloqueo por campaña: </label>
          <label>{{ obj2 ? fechasCampania : "" }}</label>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>Es hijo?: </label>
          <label>{{ obj2 ? obj2[0].eS_HIJO : "" }}</label>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>Grupo de Precios: </label>
          <label>{{ obj2 ? obj2[0].grP_PRC : "" }}</label>
        </div>
      </div>
      <div class="grid">
        <div class="col12 md:col-4 lg:col-4">
          <div class="grid py-2">
            <div class="col-12">
              <label class="font-bold align-self-center">Cadena Vigente</label
              >&nbsp;&nbsp;&nbsp;&nbsp;
              <p-checkbox
                [binary]="true"
                (onChange)="chkAtrrchanged($event, 2)"
              ></p-checkbox>
            </div>
          </div>
          <div class="grid surface-card py-2 px-2 border-round shadow-1">
            <div class="col-12">
              <div
                class="grid"
                [ngClass]="{ disabledDiv: isDisabledDivCade }"
                style="height: 450px"
              >
                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Precio Vigente:</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>$519.000</label> -->
                      <label>{{
                        obj
                          ? (obj.listaPrecioModel[0].valorPrecioRegular
                            | currency : "COP ")
                          : ""
                      }}</label>
                    </div>
                    <div class="col-5">
                      <input
                        type="text"
                        pInputText
                        placeholder="Nuevo precio"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Fecha de Inicio:</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>03/02/2023</label> -->
                      <label>{{ obj ? fechaDesde : "" }}</label>
                    </div>
                    <div class="col-5">
                      <p-calendar [showIcon]="true"></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Fecha de Fin:</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>01/01/2099</label> -->
                      <label>{{ obj ? fechaHasta : "" }}</label>
                    </div>
                    <div class="col-5">
                      <p-calendar [showIcon]="true"></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Tipo de Precio:</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>Regular</label> -->
                      <label>{{
                        obj ? obj.listaEventoProductoModel.tipoEvento : ""
                      }}</label>
                    </div>
                    <div class="col-5">
                      <p-dropdown
                        placeholder="Seleccione"
                        [editable]="true"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Notas:</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>REG-MP-6</label> -->
                      <label>{{
                        obj ? obj.listaEventoProductoModel.descripcion : ""
                      }}</label>
                    </div>
                    <div class="col-5">
                      <input
                        type="text"
                        pInputText
                        placeholder="Ingrese Notas"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Margen VPC:</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>44%</label> -->
                      <label
                        [ngStyle]="{
                          color: obj3 && margenVpc > 0 ? 'red' : 'black'
                        }"
                        >{{ obj3 ? obj3[0].margeN_VPC + "%" : "" }}</label
                      >
                    </div>
                    <div class="col-5">
                      <input type="text" pInputText placeholder="%" />
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Margen Promedio:</label>
                    </div>
                    <div class="col-3">
                      <!-- <label>44%</label> -->
                      <label
                        [ngStyle]="{
                          color: obj3 && margenPromedio > 0 ? 'red' : 'black'
                        }"
                        >{{ obj3 ? obj3[0].margeN_PRO + "%" : "" }}</label
                      >
                    </div>
                    <div class="col-5">
                      <input type="text" pInputText placeholder="%" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col12 md:col-4 lg:col-4">
          <div class="grid py-2">
            <div class="col-12">
              <label class="font-bold align-self-center">Internet Vigente</label
              >&nbsp;&nbsp;&nbsp;&nbsp;<p-checkbox></p-checkbox>
            </div>
          </div>
          <div class="grid surface-card py-2 px-2 border-round shadow-1">
            <div class="col-12">
              <div class="grid" style="height: 450px">
                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Precio Internet:</label>
                    </div>
                    <div class="col-3">
                      <label>$404.900</label>
                    </div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Fecha de Inicio:</label>
                    </div>
                    <div class="col-3">
                      <label>30/01/2023</label>
                    </div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Fecha de Fin:</label>
                    </div>
                    <div class="col-3">
                      <label>28/02/2023</label>
                    </div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Campaña:</label>
                    </div>
                    <div class="col-3">
                      <label>Cyber</label>
                    </div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Prorrateo:</label>
                    </div>
                    <div class="col-3">
                      <label>100% Sodimac</label>
                    </div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Margen VPC:</label>
                    </div>
                    <div class="col-3">
                      <label>12%</label>
                    </div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Margen Promedio:</label>
                    </div>
                    <div class="col-3">
                      <label>12%</label>
                    </div>
                    <div class="col-5 height"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col12 md:col-4 lg:col-4">
          <div class="grid py-2">
            <div class="col-12">
              <label class="font-bold align-self-center">CRM Vigente</label
              >&nbsp;&nbsp;&nbsp;&nbsp;<p-checkbox></p-checkbox>
            </div>
          </div>
          <div class="grid surface-card py-2 px-2 border-round shadow-1">
            <div class="col-12">
              <div class="grid" style="height: 450px">
                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Precio Internet:</label>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Fecha de Inicio:</label>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Fecha de Fin:</label>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Campaña:</label>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Prorrateo:</label>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Margen VPC:</label>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 height"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="grid flex align-items-center">
                    <div class="col-4">
                      <label class="font-bold">Margen Promedio:</label>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 height"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
